In [3]:
pip install plotly

Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     ---------------------------------------- 15.2/15.2 MB 6.4 MB/s eta 0:00:00
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.10.0 tenacity-8.0.1

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: C:\Users\user1676\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install dash

Collecting dash
  Downloading dash-2.6.1-py3-none-any.whl (9.9 MB)
     ---------------------------------------- 9.9/9.9 MB 8.5 MB/s eta 0:00:00
Collecting flask-compress
  Downloading Flask_Compress-1.12-py3-none-any.whl (7.9 kB)
Collecting Flask>=1.0.4
  Downloading Flask-2.2.2-py3-none-any.whl (101 kB)
     -------------------------------------- 101.5/101.5 kB 5.7 MB/s eta 0:00:00
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: plotly>=5.0.0 in c:\users\user1676\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from dash) (5.10.0)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting Jinja2>=3.0
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     -------------------------------------- 133.1/133.1 kB 4.0 MB/s eta 0:00:00
Collecting Werkzeug>=2.2.2
  Downloading Werkzeug-2.2.2-py3-none-any.whl (232 kB)
     -------------------------------------- 232.7/232.7 kB 4.7 MB/s eta 0:00:00
Collecting importlib-metadata>=3.6.0
  Downloading importlib_metadata-4.12.0-py3-none-any.whl (21 kB)
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.1.2-py3-none-any.whl (15 kB)
Collecting click>=8.0
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user1676\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Collecting brotli
  Downloading Brotli-1.0.9-cp39-cp39-win_amd64.whl (383 kB)
     -------------------------------------- 383.4/383.4 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\user1676\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from click>=8.0->Flask>=1.0.4->dash) (0.4.5)
Collecting zipp>=0.5
  Downloading zipp-3.8.1-py3-none-any.whl (5.6 kB)
Collecting MarkupSafe>=2.0
  Using cached MarkupSafe-2.1.1-cp39-cp39-win_amd64.whl (17 kB)
Installing collected packages: dash-table, dash-html-components, dash-core-components, brotli, zipp, MarkupSafe, itsdangerous, click, Werkzeug, Jinja2, importlib-metadata, Flask, flask-compress, dash
Successfully installed Flask-2.2.2 Jinja2-3.1.2 MarkupSafe-2.1.1 Werkzeug-2.2.2 brotli-1.0.9 click-8.1.3 dash-2.6.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.12 importlib-metadata-4.12.0 itsdangerous-2.1.2 zipp-3.8.1

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: C:\Users\user1676\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import visual

In [8]:
visual.

In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("./data/_res.csv", sep=",")

In [14]:
d['experimentId'].unique()

array(['2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a09a8ef0de4cea04f6d',
       '397c4f579c2c394bfd4d2b53d0d8266b4d3a0637d20270def634fd4ce12fe84f'],
      dtype=object)

In [ ]:
from ab_test_pipeline import Pipeline

p = Pipeline(d)
ab_test_results, summary = p.pipeline("date", metric_aggregations={"transactions":"sum", "sessions":"sum"}, experiment_var_col='experimentVariant', 
                  groups = ['deviceCategory', 'userType'])
ab_test_results

In [13]:
ab_test_results['experimentId'] = '2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a09a8ef0de4cea04f6d'
ab_test_results

,deviceCategory,userType,first,second,metric,mean_lift,equal_variance,equal_median,test_type,p_value,experimentId
0,No group,No group,df_0,df_1,transactions,-0.010923,True,False,independent ttest,0.96441,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
1,No group,No group,df_0,df_1,sessions,0.042997,True,False,independent ttest,0.853488,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
2,mobile,No group,df_0,df_1,transactions,0.108108,True,True,independent ttest,0.697053,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
3,mobile,No group,df_0,df_1,sessions,0.059338,True,True,independent ttest,0.775329,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
4,desktop,No group,df_0,df_1,transactions,-0.039926,True,False,independent ttest,0.867297,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
5,desktop,No group,df_0,df_1,sessions,0.036628,True,False,independent ttest,0.883473,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
6,tablet,No group,df_0,df_1,transactions,-0.367188,True,True,independent ttest,0.101308,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
7,tablet,No group,df_0,df_1,sessions,-0.07162,True,True,independent ttest,0.713589,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
8,No group,Returning Visitor,df_0,df_1,transactions,-0.011648,True,False,independent ttest,0.961721,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
9,No group,Returning Visitor,df_0,df_1,sessions,0.047237,True,False,independent ttest,0.840088,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
10,No group,New Visitor,df_0,df_1,transactions,0.004515,True,False,independent ttest,0.98858,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
11,No group,New Visitor,df_0,df_1,sessions,-0.001704,True,False,independent ttest,0.994074,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
12,mobile,Returning Visitor,df_0,df_1,transactions,0.119687,True,True,independent ttest,0.666014,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
13,mobile,Returning Visitor,df_0,df_1,sessions,0.068904,True,False,independent ttest,0.738816,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
14,mobile,New Visitor,df_0,df_1,transactions,-0.028902,True,False,independent ttest,0.926638,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
15,mobile,New Visitor,df_0,df_1,sessions,0.005881,True,False,independent ttest,0.978888,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
16,desktop,Returning Visitor,df_0,df_1,transactions,-0.041913,True,False,independent ttest,0.859556,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
17,desktop,Returning Visitor,df_0,df_1,sessions,0.039336,True,False,independent ttest,0.875221,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
18,desktop,New Visitor,df_0,df_1,transactions,0.015267,True,False,independent ttest,0.962652,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
19,desktop,New Visitor,df_0,df_1,sessions,-0.012761,True,False,independent ttest,0.959011,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
20,tablet,Returning Visitor,df_0,df_1,transactions,-0.416667,True,True,independent ttest,0.050833,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
21,tablet,Returning Visitor,df_0,df_1,sessions,-0.081856,True,True,independent ttest,0.613728,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
22,tablet,New Visitor,df_0,df_1,transactions,0.375,True,False,independent ttest,0.446716,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...
23,tablet,New Visitor,df_0,df_1,sessions,-0.009494,True,False,independent ttest,0.678097,2ccd4f1b7d290c28600eb2a955f80242d96ad08d11c95a...

In [15]:
ab_test_results.to_csv("./data/_stat_results.csv")

In [7]:
backlog_path = "./data/_test_backlog.csv"
res_path = "./data/_res.csv"
stat_res_path = "./data/_stat_results.csv"

backlog_df = pd.read_csv(backlog_path, sep=',')
res_df = pd.read_csv(res_path, sep=',')
stat_res_df = pd.read_csv(stat_res_path, sep=',')

In [10]:
stat_res_df

,Unnamed: 0,deviceCategory,userType,first,second,metric,mean_lift,equal_variance,equal_median,test_type,p_value
0,0,No group,No group,df_0,df_1,transactions,-0.010923,True,False,independent ttest,0.964410
1,1,No group,No group,df_0,df_1,sessions,0.042997,True,False,independent ttest,0.853488
2,2,mobile,No group,df_0,df_1,transactions,0.108108,True,True,independent ttest,0.697053
3,3,mobile,No group,df_0,df_1,sessions,0.059338,True,True,independent ttest,0.775329
4,4,desktop,No group,df_0,df_1,transactions,-0.039926,True,False,independent ttest,0.867297
5,5,desktop,No group,df_0,df_1,sessions,0.036628,True,False,independent ttest,0.883473
6,6,tablet,No group,df_0,df_1,transactions,-0.367188,True,True,independent ttest,0.101308
7,7,tablet,No group,df_0,df_1,sessions,-0.071620,True,True,independent ttest,0.713589
8,8,No group,Returning Visitor,df_0,df_1,transactions,-0.011648,True,False,independent ttest,0.961721
9,9,No group,Returning Visitor,df_0,df_1,sessions,0.047237,True,False,independent ttest,0.840088
10,10,No group,New Visitor,df_0,df_1,transactions,0.004515,True,False,independent ttest,0.988580
11,11,No group,New Visitor,df_0,df_1,sessions,-0.001704,True,False,independent ttest,0.994074
12,12,mobile,Returning Visitor,df_0,df_1,transactions,0.119687,True,True,independent ttest,0.666014
13,13,mobile,Returning Visitor,df_0,df_1,sessions,0.068904,True,False,independent ttest,0.738816
14,14,mobile,New Visitor,df_0,df_1,transactions,-0.028902,True,False,independent ttest,0.926638
15,15,mobile,New Visitor,df_0,df_1,sessions,0.005881,True,False,independent ttest,0.978888
16,16,desktop,Returning Visitor,df_0,df_1,transactions,-0.041913,True,False,independent ttest,0.859556
17,17,desktop,Returning Visitor,df_0,df_1,sessions,0.039336,True,False,independent ttest,0.875221
18,18,desktop,New Visitor,df_0,df_1,transactions,0.015267,True,False,independent ttest,0.962652
19,19,desktop,New Visitor,df_0,df_1,sessions,-0.012761,True,False,independent ttest,0.959011
20,20,tablet,Returning Visitor,df_0,df_1,transactions,-0.416667,True,True,independent ttest,0.050833
21,21,tablet,Returning Visitor,df_0,df_1,sessions,-0.081856,True,True,independent ttest,0.613728
22,22,tablet,New Visitor,df_0,df_1,transactions,0.375000,True,False,independent ttest,0.446716
23,23,tablet,New Visitor,df_0,df_1,sessions,-0.009494,True,False,independent ttest,0.678097